*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body{

    width: 1200px;
    border: solid  black;
    background-color: chartreuse;
    margin-left: 100px;
}


.container{

    background-color: brown;
    width: 980px;
    margin-left: 100px;
    


}
.cabecera{

    background-color: bisque;
    text-align: center;
    border-radius: 10% 30% 50% 70%;
    margin-top: 2px;
    height: 200px;
    
}

.titulo-principal{
    font-size: 45px;
    padding: 2em;
    
}

.navegador{
    background-color: aquamarine;
    margin: 2px;
}

.Ir{
    font-size: 25px;
}

.container-secundario{

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;

   

    background-color: aqua;
    border: solid 1px black;

}

.cuadro1{

    background-color: coral;

    width: 200px;
    height: 300px;
    border: solid 1px black;
    margin: 5px;

}

.cuadro2{

    background-color: coral;

    width: 200px;
    height: 300px;
    border: solid 1px black;
    margin: 5px;

    
}

.pie{

    background-color: blueviolet;
    border: solid 1px black;
    margin: 2px;

    font-size: 25px;
    text-align: center;
}

.video{
    margin-left: 25px;
    margin-top: 25px;
}